# Environment variables
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Byte-compiled / optimized
*.pyc
